# Decision Tree

In [1]:
import pandas as pd
import numpy as np

In [2]:
hr = pd.read_csv('D:/Downloaded rcodes and datasets/HR Analytics.csv')

In [3]:
# We have to find solution in binomial term
# So we are going to classify the data by logistic regression, decision tree
# Binary classification

hr["Attrition"].value_counts()/hr.shape[0] *100

0    83.877551
1    16.122449
Name: Attrition, dtype: float64

In [15]:
hr["Attrition"].value_counts()

0    1233
1     237
Name: Attrition, dtype: int64

# Gini impurity

In [4]:
a = hr["Attrition"].value_counts()[0]/hr.shape[0]
b = hr["Attrition"].value_counts()[1]/hr.shape[0]
#pa = hr["Attrition" == 0].shape[0] / hr.shape[0]
#pb = hr["Attrition" == 1].shape[0] / hr.shape[0]
gini = 1 - np.square(a) - np.square(b) 
gini

0.2704623073719284

# Information gain

- Ig = gini(i) - gini(i | j)

# It is imbalanced class, because one class is very frequent and another is rare

In [5]:
hr.shape

(1470, 25)

# Binary classification

In [6]:
# o/p : Categorical columns 
# i/p : Numerical columns

In [7]:
# Now we are checking numerical columns

hr.dtypes

Age                          int64
Attrition                    int64
BusinessTravel              object
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
JobInvolvement               int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
NumCompaniesWorked           int64
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
TotalWorkingYears            int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [8]:
# In python, we have inbuilt function ._get_numeric_data to extract numeric variables

hr._get_numeric_data()

,Age,Attrition,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,JobInvolvement,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,1,2,1,2,3,4,5993,8,11,3,1,8,1,6,4,0,5
1,49,0,8,1,2,3,2,2,5130,1,23,4,4,10,3,10,7,1,7
2,37,1,2,2,4,4,2,3,2090,6,15,3,2,7,3,0,0,0,0
3,33,0,3,4,5,4,3,3,2909,1,11,3,3,8,3,8,7,3,0
4,27,0,2,1,7,1,3,2,3468,9,12,3,4,6,3,2,2,2,2
5,32,0,2,2,8,4,3,4,3068,0,13,3,3,8,2,7,7,3,6
6,59,0,3,3,10,3,4,1,2670,4,20,4,1,12,2,1,0,0,0
7,30,0,24,1,11,4,3,3,2693,1,22,4,2,1,3,1,0,0,0
8,38,0,23,3,12,4,2,3,9526,0,21,4,2,10,3,9,7,1,8
9,36,0,27,3,13,3,3,3,5237,6,13,3,2,17,2,7,7,7,7
10,35,0,16,3,14,1,4,2,2426,0,13,3,3,6,3,5,4,0,3
11,29,0,15,2,15,4,2,3,4193,0,12,3,4,10,3,9,5,0,8
12,31,0,26,1,16,1,3,3,2911,1,17,3,4,5,2,5,2,4,3
13,34,0,19,2,18,2,3,4,2661,0,11,3,3,3,3,2,2,1,2
14,28,1,24,3,19,3,2,3,2028,5,14,3,2,6,3,4,2,0,3
15,29,0,21,4,20,2,4,1,9980,1,11,3,3,10,3,10,9,8,8
16,32,0,5,2,21,1,4,2,3298,0,12,3,4,7,2,6,2,0,5
17,22,0,16,2,22,4,4,4,2935,1,13,3,2,1,2,1,0,0,0
18,53,0,2,4,23,1,2,4,15427,2,16,3,3,31,3,25,8,3,7
19,38,0,2,3,24,4,3,4,3944,5,11,3,3,6,3,3,2,1,2
20,24,0,11,2,26,1,4,3,4011,0,18,3,4,5,2,4,2,1,3
21,36,1,9,4,27,3,2,1,3407,7,23,4,2,10,3,5,3,0,3
22,34,0,7,4,28,1,3,2,11994,0,11,3,3,13,3,12,6,2,11
23,21,0,15,2,30,3,3,4,1232,1,14,3,4,0,3,0,0,0,0
24,34,1,6,1,31,2,3,1,2960,2,11,3,3,8,3,4,2,1,3
25,53,0,5,3,32,3,3,3,19094,4,11,3,4,26,2,14,13,4,8
26,32,1,16,1,33,2,1,1,3919,1,22,4,2,10,3,10,2,6,7
27,42,0,8,4,35,3,3,2,6825,0,11,3,4,10,3,9,7,4,2
28,44,0,7,4,36,1,2,4,10248,3,14,3,4,24,3,22,6,5,17
29,46,0,2,4,38,2,3,1,18947,3,12,3,4,22,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,0,4,2,2025,4,3,2,5131,7,13,3,2,18,3,4,2,0,2
1441,56,0,1,4,2026,3,3,3,6306,1,21,4,1,13,2,13,12,1,9
1442,29,1,1,4,2027,1,3,4,4787,9,14,3,2,4,4,2,2,2,2
1443,42,0,2,3,2031,1,3,3,18880,5,11,3,1,24,2,22,6,4,14
1444,56,1,7,2,2032,4,3,3,2339,8,11,3,4,14,1,10,9,9,8
1445,41,0,28,4,2034,1,2,2,13570,0,23,4,3,21,3,20,7,0,10
1446,34,0,28,3,2035,4,2,3,6712,1,21,4,4,8,3,8,7,1,7
1447,36,0,15,4,2036,4,1,4,5406,1,24,4,1,15,2,15,12,11,11
1448,41,0,3,3,2037,3,2,2,8938,2,11,3,3,14,3,5,4,0,4
1449,32,0,2,3,2038,4,3,1,2439,1,14,3,4,4,3,4,2,1,2
1450,35,0,26,4,2040,3,3,4,8837,1,16,3,3,9,3,9,0,1,7
1451,38,0,10,2,2041,1,3,4,5343,1,11,3,3,10,3,10,7,1,9
1452,50,1,1,4,2044,2,3,3,6728,7,12,3,4,12,3,6,3,0,1
1453,36,0,11,4,2045,2,2,4,6652,4,13,3,1,8,2,6,3,0,0
1454,45,0,20,3,2046,4,3,3,4850,8,15,3,3,8,3,5,3,0,1
1455,40,0,2,4,2048,3,2,3,2809,2,14,3,4,8,3,2,2,2,2
1456,35,0,18,4,2049,3,3,3,5689,1,14,3,4,10,4,10,2,0,2
1457,40,0,2,4,2051,3,3,3,2001,2,14,3,2,20,3,5,3,0,2
1458,35,0,1,4,2052,3,1,4,2977,1,12,3,4,4,3,4,3,1,1
1459,29,0,13,2,2053,4,2,2,4025,4,13,3,1,10,3,4,3,0,3
1460,29,0,28,4,2054,4,2,1,3785,1,14,3,2,5,1,5,4,0,4
1461,50,1,28,3,2055,4,2,1,10854,4,13,3,2,20,3,3,2,2,0
1462,39,0,24,1,2056,2,2,4,12031,0,11,3,1,21,2,20,9,9,6
1463,31,0,5,3,2057,2,3,1,9936,0,19,3,2,10,3,9,4,1,7
1464,26,0,5,3,2060,4,2,3,2966,0,18,3,4,5,3,4,2,0,0
1465,36,0,23,2,2061,3,4,4,2571,4,17,3,3,17,3,5,2,0,3
1466,39,0,6,1,2062,4,2,1,9991,4,15,3,1,9,3,7,7,1,7
1467,27,0,4,3,2064,2,4,2,6142,1,20,4,2,6,3,6,2,0,3
1468,49,0,2,3,2065,4,2,2,5390,2,14,3,4,17,2,9,6,0,8
1469,34,0,8,3,2068,2,4,3,4404,2,12,3,1,6,4,4,3,1,2

In [9]:
hr._get_numeric_data().columns

Index(['Age', 'Attrition', 'DistanceFromHome', 'Education', 'EmployeeNumber',
       'EnvironmentSatisfaction', 'JobInvolvement', 'JobSatisfaction',
       'MonthlyIncome', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'TotalWorkingYears',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

# Data Preprocessing

- missing value treatment 
- Outlier removal 
- Column type conversion 
- Standardization

# Split the data into train & test data

- Build models using train data
- Test/validate model using test data

In [3]:
from sklearn.model_selection import train_test_split

In [11]:
hr.shape[0] * 0.7

1029.0

In [12]:
hr.shape[0] * 0.3

441.0

In [13]:
# To overcome biasedness, we select the data randomly
np.random.seed(100)
train_rows = np.random.randint(1,hr.shape[0], int(hr.shape[0] * 0.7))

In [14]:
train = hr.iloc[train_rows]
print(train.shape)
train.head()

(1029, 25)

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,NumCompaniesWorked,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
793,28,0,Travel_Rarely,Research & Development,15,2,Life Sciences,1102,1,Male,...,1,16,3,4,4,2,4,2,2,2
80,30,0,Travel_Rarely,Research & Development,1,1,Life Sciences,104,4,Male,...,1,12,3,3,10,2,10,8,3,0
351,32,0,Travel_Rarely,Research & Development,2,3,Medical,471,3,Female,...,1,13,3,3,8,3,8,0,0,7
54,26,0,Travel_Rarely,Sales,23,3,Marketing,72,3,Female,...,7,19,3,3,5,2,2,2,0,0
803,34,0,Non-Travel,Research & Development,3,4,Life Sciences,1115,3,Male,...,3,17,3,4,6,3,0,0,0,0

In [7]:
# It is necessary to convert all input columns into numerical

hr_dummies = pd.get_dummies(hr)
hr_dummies

,Age,Attrition,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,JobInvolvement,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,...,JobRole_Laboratory Technician,JobRole_Manager,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single
0,41,1,1,2,1,2,3,4,5993,8,...,0,0,0,0,0,1,0,0,0,1
1,49,0,8,1,2,3,2,2,5130,1,...,0,0,0,0,1,0,0,0,1,0
2,37,1,2,2,4,4,2,3,2090,6,...,1,0,0,0,0,0,0,0,0,1
3,33,0,3,4,5,4,3,3,2909,1,...,0,0,0,0,1,0,0,0,1,0
4,27,0,2,1,7,1,3,2,3468,9,...,1,0,0,0,0,0,0,0,1,0
5,32,0,2,2,8,4,3,4,3068,0,...,1,0,0,0,0,0,0,0,0,1
6,59,0,3,3,10,3,4,1,2670,4,...,1,0,0,0,0,0,0,0,1,0
7,30,0,24,1,11,4,3,3,2693,1,...,1,0,0,0,0,0,0,1,0,0
8,38,0,23,3,12,4,2,3,9526,0,...,0,0,1,0,0,0,0,0,0,1
9,36,0,27,3,13,3,3,3,5237,6,...,0,0,0,0,0,0,0,0,1,0
10,35,0,16,3,14,1,4,2,2426,0,...,1,0,0,0,0,0,0,0,1,0
11,29,0,15,2,15,4,2,3,4193,0,...,1,0,0,0,0,0,0,0,0,1
12,31,0,26,1,16,1,3,3,2911,1,...,0,0,0,0,1,0,0,1,0,0
13,34,0,19,2,18,2,3,4,2661,0,...,1,0,0,0,0,0,0,1,0,0
14,28,1,24,3,19,3,2,3,2028,5,...,1,0,0,0,0,0,0,0,0,1
15,29,0,21,4,20,2,4,1,9980,1,...,0,0,1,0,0,0,0,1,0,0
16,32,0,5,2,21,1,4,2,3298,0,...,0,0,0,0,1,0,0,1,0,0
17,22,0,16,2,22,4,4,4,2935,1,...,1,0,0,0,0,0,0,1,0,0
18,53,0,2,4,23,1,2,4,15427,2,...,0,1,0,0,0,0,0,0,1,0
19,38,0,2,3,24,4,3,4,3944,5,...,0,0,0,0,1,0,0,0,0,1
20,24,0,11,2,26,1,4,3,4011,0,...,0,0,1,0,0,0,0,1,0,0
21,36,1,9,4,27,3,2,1,3407,7,...,0,0,0,0,0,0,1,0,0,1
22,34,0,7,4,28,1,3,2,11994,0,...,0,0,0,1,0,0,0,0,0,1
23,21,0,15,2,30,3,3,4,1232,1,...,0,0,0,0,1,0,0,0,0,1
24,34,1,6,1,31,2,3,1,2960,2,...,0,0,0,0,1,0,0,0,0,1
25,53,0,5,3,32,3,3,3,19094,4,...,0,1,0,0,0,0,0,1,0,0
26,32,1,16,1,33,2,1,1,3919,1,...,0,0,0,0,1,0,0,0,0,1
27,42,0,8,4,35,3,3,2,6825,0,...,0,0,0,0,0,1,0,0,1,0
28,44,0,7,4,36,1,2,4,10248,3,...,0,0,0,0,0,0,0,0,1,0
29,46,0,2,4,38,2,3,1,18947,3,...,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,0,4,2,2025,4,3,2,5131,7,...,0,0,1,0,0,0,0,1,0,0
1441,56,0,1,4,2026,3,3,3,6306,1,...,0,0,0,0,0,0,0,1,0,0
1442,29,1,1,4,2027,1,3,4,4787,9,...,0,0,0,0,1,0,0,0,1,0
1443,42,0,2,3,2031,1,3,3,18880,5,...,0,1,0,0,0,0,0,0,1,0
1444,56,1,7,2,2032,4,3,3,2339,8,...,1,0,0,0,0,0,0,0,1,0
1445,41,0,28,4,2034,1,2,2,13570,0,...,0,0,1,0,0,0,0,0,1,0
1446,34,0,28,3,2035,4,2,3,6712,1,...,0,0,0,0,0,1,0,0,1,0
1447,36,0,15,4,2036,4,1,4,5406,1,...,0,0,0,0,0,1,0,1,0,0
1448,41,0,3,3,2037,3,2,2,8938,2,...,0,0,0,0,0,1,0,1,0,0
1449,32,0,2,3,2038,4,3,1,2439,1,...,0,0,0,0,1,0,0,0,0,1
1450,35,0,26,4,2040,3,3,4,8837,1,...,0,0,0,0,0,0,0,0,0,1
1451,38,0,10,2,2041,1,3,4,5343,1,...,0,0,0,0,0,1,0,0,1,0
1452,50,1,1,4,2044,2,3,3,6728,7,...,0,0,0,0,0,1,0,1,0,0
1453,36,0,11,4,2045,2,2,4,6652,4,...,0,0,0,0,0,1,0,0,1,0
1454,45,0,20,3,2046,4,3,3,4850,8,...,0,0,0,0,0,1,0,0,0,1
1455,40,0,2,4,2048,3,2,3,2809,2,...,0,0,0,0,1,0,0,0,0,1
1456,35,0,18,4,2049,3,3,3,5689,1,...,0,0,0,0,0,0,0,0,1,0
1457,40,0,2,4,2051,3,3,3,2001,2,...,0,0,0,0,1,0,0,0,1,0
1458,35,0,1,4,2052,3,1,4,2977,1,...,0,0,0,0,1,0,0,0,1,0
1459,29,0,13,2,2053,4,2,2,4025,4,...,1,0,0,0,0,0,0,0,1,0
1460,29,0,28,4,2054,4,2,1,3785,1,...,0,0,0,0,1,0,0,0,0,1
1461,50,1,28,3,2055,4,2,1,10854,4,...,0,0,0,0,0,1,0,1,0,0
1462,39,0,24,1,2056,2,2,4,12031,0,...,0,0,0,0,0,1,0,0,1,0
1463,31,0,5,3,2057,2,3,1,9936,0,...,0,0,1,0,0,0,0,0,0,1
1464,26,0,5,3,2060,4,2,3,2966,0,...,0,0,0,0,0,0,1,0,0,1
1465,36,0,23,2,2061,3,4,4,2571,4,...,1,0,0,0,0,0,0,0,1,0
1466,39,0,6,1,2062,4,2,1,9991,4,...,0,0,0,0,0,0,0,0,1,0
1467,27,0,4,3,2064,2,4,2,6142,1,...,0,0,1,0,0,0,0,0,1,0
1468,49,0,2,3,2065,4,2,2,5390,2,...,0,0,0,0,0,1,0,0,1,0
1469,34,0,8,3,2068,2,4,3,4404,2,...,1,0,0,0,0,0,0,0,1,0

In [8]:
# We have Built-in function in sklearn package

train,test = train_test_split(hr_dummies, test_size = 0.3, random_state = 100)

In [9]:
train_y = train['Attrition']
test_y = test['Attrition']
train_x = train.drop('Attrition', axis = 1)
test_x = test.drop('Attrition', axis = 1)
print(train_x.shape)
print(train_y.shape)
print(test_x.shape)
print(test_y.shape)

(1029, 44)
(1029,)
(441, 44)
(441,)

In [18]:
hr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 25 columns):
Age                         1470 non-null int64
Attrition                   1470 non-null int64
BusinessTravel              1470 non-null object
Department                  1470 non-null object
DistanceFromHome            1470 non-null int64
Education                   1470 non-null int64
EducationField              1470 non-null object
EmployeeNumber              1470 non-null int64
EnvironmentSatisfaction     1470 non-null int64
Gender                      1470 non-null object
JobInvolvement              1470 non-null int64
JobRole                     1470 non-null object
JobSatisfaction             1470 non-null int64
MaritalStatus               1470 non-null object
MonthlyIncome               1470 non-null int64
NumCompaniesWorked          1470 non-null int64
PercentSalaryHike           1470 non-null int64
PerformanceRating           1470 non-null int64
RelationshipSatisfaction    1470 non-null int64
TotalWorkingYears           1470 non-null int64
WorkLifeBalance             1470 non-null int64
YearsAtCompany              1470 non-null int64
YearsInCurrentRole          1470 non-null int64
YearsSinceLastPromotion     1470 non-null int64
YearsWithCurrManager        1470 non-null int64
dtypes: int64(19), object(6)
memory usage: 287.2+ KB

# Building Decision Tree

In [10]:
from sklearn.tree import DecisionTreeClassifier

In [11]:
model = DecisionTreeClassifier()
model.fit(train_x, train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [21]:
test_pred = model.predict(test_x)
print(len(test_pred))

441

In [27]:
# Instead of predict, we can use predict_proba to know exact prob. instead of 0 or 1

test_pred_prob = pd.DataFrame(model.predict_proba(test_x))
test_pred_prob

       0    1
0    0.0  1.0
1    0.0  1.0
2    1.0  0.0
3    1.0  0.0
4    1.0  0.0
5    1.0  0.0
6    1.0  0.0
7    1.0  0.0
8    1.0  0.0
9    1.0  0.0
10   1.0  0.0
11   1.0  0.0
12   0.0  1.0
13   1.0  0.0
14   0.0  1.0
15   1.0  0.0
16   1.0  0.0
17   1.0  0.0
18   1.0  0.0
19   0.0  1.0
20   1.0  0.0
21   1.0  0.0
22   1.0  0.0
23   1.0  0.0
24   1.0  0.0
25   1.0  0.0
26   1.0  0.0
27   1.0  0.0
28   1.0  0.0
29   1.0  0.0
..   ...  ...
411  0.0  1.0
412  1.0  0.0
413  0.0  1.0
414  1.0  0.0
415  0.0  1.0
416  1.0  0.0
417  1.0  0.0
418  1.0  0.0
419  0.0  1.0
420  1.0  0.0
421  1.0  0.0
422  1.0  0.0
423  0.0  1.0
424  1.0  0.0
425  1.0  0.0
426  1.0  0.0
427  1.0  0.0
428  1.0  0.0
429  0.0  1.0
430  1.0  0.0
431  1.0  0.0
432  0.0  1.0
433  0.0  1.0
434  1.0  0.0
435  1.0  0.0
436  1.0  0.0
437  1.0  0.0
438  1.0  0.0
439  0.0  1.0
440  1.0  0.0

[441 rows x 2 columns]

In [85]:
# Evaluate model performance

df_pred = pd.DataFrame({"actual":test_y,"predicted":test_pred})

In [94]:
df_pred["pred_status"] = df_pred["actual"] == df_pred["predicted"]

In [95]:
df_pred

      actual  predicted  pred_status
880        0          1        False
152        0          1        False
1466       0          0         True
1084       0          0         True
1086       0          0         True
1392       0          0         True
57         0          0         True
956        0          0         True
1400       0          0         True
1175       0          0         True
949        0          0         True
704        0          0         True
1114       0          1        False
916        0          0         True
688        1          1         True
764        0          0         True
1374       0          0         True
1027       0          0         True
1234       0          0         True
207        0          1        False
562        1          0        False
671        0          0         True
692        0          0         True
675        0          0         True
134        0          0         True
289        0          0         True
1304       0          0         True
347        0          0         True
1446       0          0         True
374        0          0         True
...      ...        ...          ...
614        1          1         True
816        0          0         True
1271       1          1         True
939        1          0        False
972        0          1        False
713        0          0         True
1185       0          0         True
353        0          0         True
980        1          1         True
1067       0          0         True
1299       0          0         True
896        0          0         True
1366       0          1        False
40         0          0         True
22         0          0         True
16         0          0         True
1141       0          0         True
345        0          0         True
1355       0          1        False
306        0          0         True
355        0          0         True
447        0          1        False
711        1          1         True
571        0          0         True
559        0          0         True
882        0          0         True
1388       0          0         True
380        0          0         True
573        1          1         True
221        0          0         True

[441 rows x 3 columns]

In [100]:
df_pred["pred_status"].value_counts()

True     339
False    102
Name: pred_status, dtype: int64

# Machine learning process
- Clean /prepare your data(EDA process)
    - Missing value treatment
    - Outlier treatment
    - Standardization
    - Dummy variables conversion 
- split your data(train & test)
- separate i/p & o/p cols (train_x, train_y, test_x, test_y)
- Build model using training data
- preddict output values for test data
- Evaluate your model
    - Accuracy, Sensitivity, Specificity
- Fine tune your model for better performance
    - Hyper parameter tuning, cross validation

In [102]:
# another dataset

In [139]:
url = "https://raw.githubusercontent.com/skathirmani/datasets/master/bank-full.csv"
bank = pd.read_csv(url, sep = ';')

In [140]:
bank.shape

(45211, 17)

In [141]:
bank

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
5,35,management,married,tertiary,no,231,yes,no,unknown,5,may,139,1,-1,0,unknown,no
6,28,management,single,tertiary,no,447,yes,yes,unknown,5,may,217,1,-1,0,unknown,no
7,42,entrepreneur,divorced,tertiary,yes,2,yes,no,unknown,5,may,380,1,-1,0,unknown,no
8,58,retired,married,primary,no,121,yes,no,unknown,5,may,50,1,-1,0,unknown,no
9,43,technician,single,secondary,no,593,yes,no,unknown,5,may,55,1,-1,0,unknown,no
10,41,admin.,divorced,secondary,no,270,yes,no,unknown,5,may,222,1,-1,0,unknown,no
11,29,admin.,single,secondary,no,390,yes,no,unknown,5,may,137,1,-1,0,unknown,no
12,53,technician,married,secondary,no,6,yes,no,unknown,5,may,517,1,-1,0,unknown,no
13,58,technician,married,unknown,no,71,yes,no,unknown,5,may,71,1,-1,0,unknown,no
14,57,services,married,secondary,no,162,yes,no,unknown,5,may,174,1,-1,0,unknown,no
15,51,retired,married,primary,no,229,yes,no,unknown,5,may,353,1,-1,0,unknown,no
16,45,admin.,single,unknown,no,13,yes,no,unknown,5,may,98,1,-1,0,unknown,no
17,57,blue-collar,married,primary,no,52,yes,no,unknown,5,may,38,1,-1,0,unknown,no
18,60,retired,married,primary,no,60,yes,no,unknown,5,may,219,1,-1,0,unknown,no
19,33,services,married,secondary,no,0,yes,no,unknown,5,may,54,1,-1,0,unknown,no
20,28,blue-collar,married,secondary,no,723,yes,yes,unknown,5,may,262,1,-1,0,unknown,no
21,56,management,married,tertiary,no,779,yes,no,unknown,5,may,164,1,-1,0,unknown,no
22,32,blue-collar,single,primary,no,23,yes,yes,unknown,5,may,160,1,-1,0,unknown,no
23,25,services,married,secondary,no,50,yes,no,unknown,5,may,342,1,-1,0,unknown,no
24,40,retired,married,primary,no,0,yes,yes,unknown,5,may,181,1,-1,0,unknown,no
25,44,admin.,married,secondary,no,-372,yes,no,unknown,5,may,172,1,-1,0,unknown,no
26,39,management,single,tertiary,no,255,yes,no,unknown,5,may,296,1,-1,0,unknown,no
27,52,entrepreneur,married,secondary,no,113,yes,yes,unknown,5,may,127,1,-1,0,unknown,no
28,46,management,single,secondary,no,-246,yes,no,unknown,5,may,255,2,-1,0,unknown,no
29,36,technician,single,secondary,no,265,yes,yes,unknown,5,may,348,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45181,46,blue-collar,married,secondary,no,6879,no,no,cellular,15,nov,74,2,118,3,failure,no
45182,34,technician,married,secondary,no,133,no,no,cellular,15,nov,401,2,187,5,success,yes
45183,70,retired,married,primary,no,324,no,no,cellular,15,nov,78,1,96,7,success,no
45184,63,retired,married,secondary,no,1495,no,no,cellular,16,nov,138,1,22,5,success,no
45185,60,services,married,tertiary,no,4256,yes,no,cellular,16,nov,200,1,92,4,success,yes
45186,59,unknown,married,unknown,no,1500,no,no,cellular,16,nov,280,1,104,2,failure,no
45187,32,services,single,secondary,no,1168,yes,no,cellular,16,nov,411,1,-1,0,unknown,yes
45188,29,management,single,secondary,no,703,yes,no,cellular,16,nov,236,1,550,2,success,yes
45189,25,services,single,secondary,no,199,no,no,cellular,16,nov,173,1,92,5,failure,no
45190,32,blue-collar,married,secondary,no,136,no,no,cellular,16,nov,206,1,188,3,success,yes
45191,75,retired,divorced,tertiary,no,3810,yes,no,cellular,16,nov,262,1,183,1,failure,yes
45192,29,management,single,tertiary,no,765,no,no,cellular,16,nov,238,1,-1,0,unknown,yes
45193,28,self-employed,single,tertiary,no,159,no,no,cellular,16,nov,449,2,33,4,success,yes
45194,59,management,married,tertiary,no,138,yes,yes,cellular,16,nov,162,2,187,5,failure,no
45195,68,retired,married,secondary,no,1146,no,no,cellular,16,nov,212,1,187,6,success,yes
45196,25,student,single,secondary,no,358,no,no,cellular,16,nov,330,1,-1,0,unknown,yes
45197,36,management,single,secondary,no,1511,yes,no,cellular,16,nov,270,1,-1,0,unknown,yes
45198,37,management,married,tertiary,no,1428,no,no,cellular,16,nov,333,2,-1,0,unknown,no
45199,34,blue-collar,single,secondary,no,1475,yes,no,cellular,16,nov,1166,3,530,12,other,no
45200,38,technician,married,secondary,no,557,yes,no,cellular,16,nov,1556,4,-1,0,unknown,yes
45201,53,management,married,tertiary,no,583,no,no,cellular,17,nov,226,1,184,4,success,yes
45202,34,admin.,single,secondary,no,557,no,no,cellular,17,nov,224,1,-1,0,unknown,yes
45203,23,student,single,tertiary,no,113,no,no,cellular,17,nov,266,1,-1,0,unknown,yes
45204,73,retired,married,secondary,no,2850,no,no,cellular,17,nov,300,1,40,8,failure,yes
45205,25,technician,single,secondary,no,505,no,yes,cellular,17,nov,386,2,-1,0,unknown,yes
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [142]:
bank_dummies = pd.get_dummies(bank.drop('y', axis=1))
bank_dummies['y'] = bank['y']  # Adding y column to bank dummies

In [143]:
bank["y"].value_counts()/bank.shape[0]*100

no     88.30152
yes    11.69848
Name: y, dtype: float64

In [144]:
from sklearn.model_selection import train_test_split

In [145]:
train, test = train_test_split(bank_dummies, test_size = 0.3, random_state = 100)

In [146]:
train_x = train.drop('y', axis = 1)
test_x = test.drop('y', axis=1)
train_y = train['y']
test_y = test['y']

In [147]:
from sklearn.tree import DecisionTreeClassifier

In [12]:
model = DecisionTreeClassifier()
model.fit(train_x, train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [13]:
test_pred = model.predict(test_x)
test_pred

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0], dtype=int64)

In [150]:
bank_pred = pd.DataFrame({'actual':test_y, 'predicted':test_pred})

In [151]:
bank_pred["model_status"] = bank_pred["actual"] == bank_pred["predicted"]
bank_pred.head()

      actual predicted  model_status
14789     no        no          True
8968      no        no          True
34685     no        no          True
2369      no        no          True
36561     no       yes         False

In [152]:
bank_pred["model_status"].value_counts()/bank_pred.shape[0] * 100

True     87.739605
False    12.260395
Name: model_status, dtype: float64

# Gini impurity

In [168]:
gini = 1 - (train_y[train_y=="no"].shape[0]/train_y.shape[0])**2 - (train_y[train_y=="yes"].shape[0]/train_y.shape[0])**2
gini

0.20697532774991265

NameError: name 'model_testing' is not defined

In [14]:
from sklearn import tree
with open("model.dot","w") as f:
    f = tree.export_graphviz(model,
                            out_file=f,
                            feature_names=train_x.columns)

In [16]:
import numpy as np

In [22]:
a = 150/200
b = 50/200
1 - np.square(a) - np.square(b)

0.375

In [18]:
(0.375 + 0.5)/2

0.4375